<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="UberReadingService.ReadData" behaviorConfiguration="mexBehaviour">
        <!--Relative Address-->
        <endpoint address="" binding="basicHttpBinding" contract="UberReadingService.IReadData"></endpoint>
        <!-- <endpoint address="" binding="netTcpBinding" contract="HelloService.IHelloService"></endpoint>-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <!--Relative Address-->

        <!--Base Address-->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
           <!--<add baseAddress="net.tcp://localhost:8090/"/>-->
          </baseAddresses>
        </host>
        <!--Base Address-->

      </service>
    </services>

    <!--Service Behavious-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/><!--Inorder to run the service in the server, this line is get enabled-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--Service Behavious-->
  </system.serviceModel>
</configuration>